* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  padding-top: 20px;
  height: 100vh;
  width: 6vw;
  background-color: #0f0f0f;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  color: white;
}

.sidebar .option {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  font-size: 10px;
}

.header {
  height: 20vh;
  width: 100%;
  background-color: blue;
  border: 2px solid orange;
  position: fixed;
}

.container {
  height: 200vh;
  background-color: yellowgreen;
  border: 2px solid black;
}
